@keyframes overlayActive {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

.overlay_active {
  animation: overlayActive 0.3s linear 0s 1 normal forwards;
}

