@keyframes overlayInactive {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.overlay_inactive {
  animation: overlayInactive 0.3s linear 0s 1 normal forwards;
}
