.botton_add {
  margin: 36px 0 0 0;
  width: 100%;
  padding-bottom: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-image: url("../../../images/add-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

@media screen and (min-width: 768px) {
  .botton_add {
    margin-top: 0;
    width: 150px;
  }
}
