.button_save {
  margin-top: 45px;
  background-color: #000000;
  min-height: 46px;
  border-radius: 2px;
  display: block;
  width: 100%;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.button_save:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .button_save {
    min-height: 50px;
    margin-top: 48px;
    font-size: 18px;
    line-height: 22px;
  }
}
